[submodule "elisp/extensions/workgroups2"]
	path = elisp/extensions/workgroups2
	url = git://github.com/pashinin/workgroups2.git
[submodule "elisp/extensions/capture"]
	path = elisp/extensions/capture
	url = git://github.com/pashinin/capture.el.git
[submodule "elisp/extensions/emacs-jabber"]
	path = elisp/extensions/emacs-jabber
	url = git://git.code.sf.net/p/emacs-jabber/git
[submodule "elisp/extensions/magit"]
	path = elisp/extensions/magit
	url = git://github.com/magit/magit.git
[submodule "elisp/extensions/ecb"]
	path = elisp/extensions/ecb
	url = git://github.com/emacsmirror/ecb.git
[submodule "elisp/extensions/edbi"]
	path = elisp/extensions/edbi
	url = git://github.com/pashinin/emacs-edbi.git
[submodule "elisp/extensions/req-package"]
	path = elisp/extensions/req-package
	url = https://github.com/edvorg/req-package.git
