*.elc
*.pyc
*~
.\#*
.emacs.desktop
.emacs.desktop.lock
.mc-lists.el
/bookmarks
/elpa/archives
/emms
/emms/cache
/eshell/history
/history
/image-dired
/server
/server/server
/session\.[0-9]*
/tramp
/url
TAGS
\#*\#
ac-comphist.dat
console_log.notes
menu_log.notes
nohup.out
/auto-insert/auto
/auto-save-list
/elpa
/el-get
/places
/semanticdb